<div class="container">
  <div class="row">
    <div class="col-12">


      <div class="row align-items-end">
        <div class="col-md-6 col-lg-4" *ngFor="let group of groups | values">

          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ group.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor="let match of group.matches">

                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>

        </div>

        <div class="col-md-6 col-lg-4" *ngFor="let knockout of knockouts | values">

          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ knockout.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor="let match of knockout.matches">

                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>

        </div>
      </div>

    </div>
  </div>
</div>
