@import '../styles-variables';
:host {
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
  .wrapper {
    z-index: -2;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow: auto;
    .toolbar {
      position: fixed;
      width: 100%;
      z-index: 1;
      flex: 0 0 auto;
      .nav-button {
        margin: 0 10px 0 0;
      }
      .branding {
        cursor: pointer;
        padding-top: 4px;
        &.center {
          text-align: center;
        }
        img {
          position: relative;
          top: -2px;
        }
      }
      .sign-in-button {
        line-height: 35px;
        margin-right: 10px;
      }
      .spacer {
        flex: 1 1 auto;
      }
      @media (max-width: map-get($grid-breakpoints, lg)) {
        .nav-button {
          min-width: 0;
          padding: 0 10px;
        }
        .sign-in-button {
          min-width: 0;
          padding: 0 10px;
          margin: 0 5px 0 0;
        }
      }
    }
    .content {
      padding-top: 64px;
      flex: 1 0 auto;
      position: relative;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      .content {
        padding-top: 56px;
      }
    }
  }
}

mat-sidenav {
  width: 250px;
  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;
    img {
      margin: 0 10px 0 0;
    }
    span {
      position: relative;
      top: 3px;
    }
  }
  .mat-nav-list {
    padding-top: 0;
  }
}
