<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let group of teams | groupBy: 'group' | values">

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ group[0].group | uppercase }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-list>
            <mat-list-item *ngFor="let team of group | orderBy: 'name'">
              <img matListAvatar [src]="team.flag" [alt]="team.name">
              <h3 matLine>{{ team.name }}</h3>
              <p matLine>
                <span>{{ team.fifaCode }}</span>
              </p>
            </mat-list-item>
          </mat-list>

        </mat-card-content>

      </mat-card>

    </div>
  </div>
</div>
